<div{{ attributes }}>
    <!-- component html -->
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="name" type="text" class="form-control" data-model="norender|name" placeholder="Name">
    </div>
    <div class="mb-3">
        <select class="form-select" data-model="norender|type">
            <option selected>Veranstaltungstyp</option>
            <option value="Rennen">Rennen</option>
            <option value="Rennserie">Rennserie</option>
            <option value="Freies Training">Freies Training</option>
            <option value="Schulung">Schulung</option>
            <option value="Trainingscamp">Trainingscamp</option>
            <option value="Sonstiges">Sonstiges</option>
        </select>
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="location" type="text" class="form-control" data-model="norender|location" placeholder="Ort">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateStart" type="date" class="form-control" data-model="norender|dateStart" placeholder="Datum Anfang">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateEnd" type="text" class="form-control" data-model="norender|dateEnd" placeholder="Datum Ende">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="priceVisitor" type="text" class="form-control" data-model="norender|priceVisitor" placeholder="Preis für Zuschauer">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="priceRider" type="text" class="form-control" data-model="norender|priceRider" placeholder="Preis für Fahrer">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateTimeStartVisitor" type="text" class="form-control" data-model="norender|dateTimeStartVisitor" placeholder="Wann sind Besucher willkommen?">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateTimeArriving" type="text" class="form-control" data-model="norender|dateTimeArriving" placeholder="Wann dürfen Fahrer anreisen?">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateTimeRidersbreefing" type="text" class="form-control" data-model="norender|dateTimeRidersbreefing" placeholder="Wann ist Fahrerbesprechung?">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="dateTimeLeaving" type="text" class="form-control" data-model="norender|dateTimeLeaving" placeholder="Wann müssen Fahrer abreisen?">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="classes" type="text" class="form-control" data-model="norender|name" placeholder="Welche Klassen sind erlaubt?">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="registration" type="text" class="form-control" data-model="norender|registration" placeholder="Anmeldung">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="linkUrl" type="url" class="form-control" data-model="norender|linkUrl" placeholder="Links">
    </div>
    <div class="mb-3">
        {# <label for="name" class="form-label">Name</label> #}
        <input id="description" type="text" class="form-control" data-model="norender|description" placeholder="Hinweise/Besonderheiten">
    </div>

    <button data-action="live#action" data-live-action-param="save" class="btn btn-outline-primary">Speichern</button>
</div>
