{{ app.user }}

{% if app.user.isOrganizer == true %}
    {{ include('seiten/user/_organizer.html.twig', { category: 1 }) }}
{% elseif app.user.isRider == true %}
    {{ include('seiten/user/_rider.html.twig') }}
{% else %}
{% endif %}

<div class="bg-primary"></div>