<div class="container">
    <div class="d-flex gap-5">
        <ul id="settingsTab" class="nav flex-column"  role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal-tab-pane" type="button" role="tab" aria-controls="personal-tab-pane" aria-selected="true">Personal</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">Login</button>
            </li>
        </ul>
        <div class="tab-content" id="settingsTabContent">
            <div class="tab-pane fade show active" id="personal-tab-pane" role="tabpanel" aria-labelledby="personal-tab" tabindex="0">
                <div class="mb-3">
                    <label class="form-label">Select Theme</label>
                    <div class="input-group">
                        <select class="form-select" data-model="theme">
                            <option value="light">Light</option>
                            <option value="dark">Dark</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="button" data-action="live#action" data-action-parameter="saveTheme">Save</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Language</label>
                    <div class="input-group">
                        <select class="form-select" data-model="locale">
                            <option value="de">Deutsch</option>
                            <option value="en">English</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="button" data-action="live#action" data-action-parameter="saveLocale">Save</button>
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab" tabindex="0">
                
            </div>
        </div> 
    </div>
</div>