<header class="container h-100 d-flex align-items-center justify-content-between px-3">
    <ul class="nav nav-pills gap-2">
        <li class="nav-item">
            <a href="{{ path('admin_index') }}" class="nav-link">Dashboard</a>
        </li>
    </ul>

    <div class="d-flex gap-3 text-end">
        <a href="{{ path('app_index') }}" role="button" class="btn btn-sm btn-outline-primary">Nutzerbereich</a>
        <a href="{{ path('public_index') }}" role="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-arrow-left me-2"></i>Zurück</a>
    </div>
</header>