<div class="d-flex flex-column py-3">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a href="{{ path('admin_users_index') }}" class="nav-link rounded-0" aria-current="page">
				{# <i class="fas fa-home me-2"></i> #}
				Benutzer
			</a>
		</li>
	</ul>
</div>
