{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Imprint{% endblock %}

{% block body %}
    <div class="container">
        <h3>Impressum</h3>
        <div class="p-3">
            <strong>Johanna Müller</strong>

            <p>
                Kesselgasse 24<br>
                09599 Freiberg<br>
                jojogp215@outlook.com
            </p>
        </div>
    </div>
{% endblock %}