{% extends 'public/base.html.twig' %}

{% block title %}{{ parent() }} | About{% endblock %}

{% block body %}
    <div class="container">
        <h3> Was soll Racing Action sein und wer steckt dahinter? </h3>
        <br>
        <p> Racing Action ist eine Plattform für alle Fans des Motorsports. 
            Hier können Veranstalter, Vereine, Clubs, etc. selbst eine Veranstaltung erstellen, die dann auf der Hauptseite im Kalender zu finden ist. 
            Dadurch gibt es endlich eine Gesamtübersicht über Rennveranstaltungen und Trainings und sonstigem Motorsportspaß auf einer Seite! 
            Zusätzlich könnt ihr euch die Veranstaltungen, die euch zusagen in eurem privaten Kalender abspeichern. Einfach auf „Speichern“ klicken. Tadaa
        </p>
        <p> Wenn du selber Flat Track oder Speedway fährst, bist du herzlich dazu eingeladen, dir ein Profil zu erstellen. 
            Das Profil ist natürlich kostenlos, es sei denn, du möchtest gerne eine Spende für unsere Mühen abgeben, dann halten wir dich nicht davon ab!
            Aktuell haben wir unser Hauptaugenmerk auf Flat Track und Speedway gelegt. Irgendwie muss man ja anfangen und da ich selber Flat Track fahre, starte ich eben damit. 
        </p>
        <h3> Wer steckt hinter der Seite RacingAction.de? </h3>
        <br>
        <p><strong> Jojo </strong></p>
        <p> Das bin ich. Johanna Müller aus Deutschland, Sachsen, Freiberg. 
            Ich habe im Februar 2023 durch einen verrückten Zufall das erste mal in Alcarras auf dem Motorrad gesessen, bin die TT Strecke und im Oval gefahren und habe im Flat Track die Liebe meines Lebens gefunden. 
        </p>
        <p> An dieser Stelle müssen wir wohl vor allem Schixn (auch aus Freiberg) danken! Wenn er mir damals sein Motorrad nicht angeboten hätte, dann würde diese Seite nicht existieren. </p>
        
        <h5><strong> DANKE SCHIXN! </strong></h5>
        
        <p> Nachdem ich das erste Jahr an diversen Trainings und Rennen teilgenommen habe, hat es mich zunehmend gestört, dass es so umständlich war, 
            von den Veranstaltungen überhaupt zu erfahren. Entweder man folgt allen möglichen Vereinen auf diversen Social Media Seiten und erfährt darüber 
            oder über verschiedenste Gruppen von Veranstaltungen, solange der Algorythmus mitspielt und es dir überhaupt anzeigt. 
            Oder du erfährst davon per Mundpropaganda oder du hast das Glück in einer der vielen Whatsapp Gruppen aufgenommen zu sein, 
            wobei es da auch so viele gibt und nicht überall wird alles mitgeteilt.....Nun bin ich doch ein sehr aufgeschlossener Mensch und gehe auf die Menschen zu, 
            lerne schnell andere kennen und bin ziemlich flott in Gruppen mit aufgenommen worden. Doch ich dachte mir: <strong> „Das muss auch einfacher gehen.“ </strong>
            Also erstellte ich eine Internetseite mit einem Kalender, in dem ich selbst die Daten eintragen, austragen und abändern musste......das wurde ziemlich schnell ziemlich viel für mich 
            und mir wurde klar, dass ich das so nicht lange bewältigen kann, wenn ich nicht nur die Rennveranstaltungen, sondern eben auch Trainings mit auf der Seite eingetragen haben möchte 
            und genau darum ging es mir ja. Eine Liste mit Rennveranstaltungen in fast ganz Europa und weiter gab es ja schon, 
            aber keine Seite hat einen schönen Überblick über Trainings bieten können...
        </p>
        <p> Lange Rede, Kurzer Sinn: Bei all meinen Ideen beschloss ich eine Seite zu erstellen, die ähnlich wie eine Social Media Plattform funktionieren sollte, 
            allerdings mehr als Informationsseite als zum sozialen Austausch dienen soll. Also eine Information Media Plattform! 
            Da das alles gar nicht so einfach ist und ich bis April 2024 von Computern und Internet nichts wissen wollte, bot mir ein Freund seine Hilfe an 
            und unterrichtete mich im Programmieren und erstellte selbst einige Features der Seite, da er die Idee dieser Plattform genial fand und mein Glitzern in den Augen unterstützen wollte. 
            Somit kommen wir zur zweiten Person, die unterstützend hinter dieser Webseite steht:
        </p>
        <br>
        <br>
        <p><strong> WOLFKID von WOLFKIDSOUNDS!!! </strong></p> 
        <p> auch Eric Witzel ist definitiv Mitbegründer dieser Webseite, ob er das so sieht oder nicht. 
            Danke Eric für all dein Engagement, deine nächtlichen Einsätze, deine stundenlangen Erklärungen und deine Geduld, deine Ideen und deine Skills im Programmieren. 
            Danke für die Bereitstellung eines Servers und allem anderen was dazu gehört! 
            Ohne ihn würde es diese Webseite definitiv genauso wenig geben, wie ohne Schixn. Eric ist Musikproduzent, Musiker und programmiert nebenbei noch. 
            Er ist ein ganz gewitztes Kerlchen aus Dresden in Sachsen, Deutschland und liebt es, Menschen bei Dingen zu unterstützen, für die sie brennen. 
            So auch mich mit meiner größenwahnsinnigen Idee dieser Webseite. 
        </p>
    </div>
{% endblock %}
