{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ include('admin/pages/users/_form.html.twig') }}
{% endblock %}

{% block toolbar %}
    <a href="{{ path('admin_users_index') }}" class="btn btn-sm btn-outline-secondary"><i class="fas fa-arrow-left"></i></a>
{% endblock %}

