/* common.scss */

@import './common/bootstrap.scss'; // Bootstrap
@import './_/variables'; // Variablen

#header {
    background: $background_dark_transparent;
    position: fixed; 
    width: 100vw;
    height: $header_height;
    top: 0;
    left: 0;
}

#footer {
    background: $background_dark_transparent;
    position: fixed;
    width: 100vw;
    height: $footer_height;
    bottom: 0;
    left: 0;
}