@import './common/bootstrap.scss'; // Bootstrap

$header_height: 100px;
$footer_height: 200px;

#header {
    background: #000;
    position: fixed; 
    width: 100vw;
    height: $header_height;
    top: 0;
    left: 0;
}

#footer {
    background:#000;
    position:fixed;
    width:100vw;
    height: $footer_height;
    bottom:0;
    left:0;

}