/* private.scss */

// importieren von common.scss damit die variablen dieser datei auch hier verfügbar sind.
@import './common.scss';

#sidebar-left {
    background: grey;
    position: fixed;
    width: $sidebar-left_width;
    height: $sidebar-left_height;
    top: $header_height;
    left: 0;
}

#content {
    position: fixed;
    width: calc(100vh - $sidebar-left_width);
    height: $sidebar-left_height;
    top: $header_height;
    left: $sidebar-left_width;
}