{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} | Admin{% endblock %}

{% block body %}
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="text-body-emphasis">Registrierte Nutzer</h4>
                <div class="text-bg-primary fs-2 p-3 rounded-circle">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            
            <p>Es sind Aktuell {{ users|length }} Nutzer registriert.</p>
            <a href="#" class="icon-link">Neuer Nutzer</a>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link">
            Call to action
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
          </div>
          <h3 class="fs-2 text-body-emphasis">Featured title</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link">
            Call to action
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
{% endblock %}
