{% extends 'admin/base.html.twig' %}

{% set cardItems = {
    item_1: {
        name: 'Benutzer',
        icon: 'fas fa-user',
        text: 'Es sind Aktuell ' ~ users|length ~ ' Nutzer registriert.',
        action: {
            name: 'Neuer Nutzer',
            icon: 'fas fa-plus',
            path: path('admin_users_create'),
        },
    },

    item_2: {
        name: 'Events',
        icon: 'fas fa-calendar-days',
        text: 'Es sind Aktuell ' ~ events|length ~ ' Events registriert.',
        action: {
            name: 'Neues Event',
            icon: 'fas fa-plus',
            path: path('admin_events_create'),
        },
    },

    item_3: {
        name: 'Fahrer',
        icon: 'fas fa-users',
        text: 'Es sind Aktuell ' ~ events|length ~ ' Fahrer registriert.',
        action: {
            name: 'Neuer Fahrer',
            icon: 'fas fa-plus',
            path: path('admin_events_create'),
        },
    }
} %}

{% block body %}
    <div class="row gap-3">
        {% for item in cardItems %}

            {{ component('Admin:Card', {
                item:item ,
                style: 'secondary',
            }) }}

            
        {% endfor %}
      </div>
{% endblock %}
