<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Racing Action{% endblock %}</title>
        {# <link rel="icon" href=""> #} {# TODO: Favicon #}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
