{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Racing Action!</h1>

    
    <ul>
        <li>Check out the calendar for races and trainings,</li>
        <li>Get all the informations you need</li>
        <li>And save the date!</li>
    </ul>
</div>


<div {{ stimulus_controller('calendar') }}>
    Welcome to the Racing Action Calendar!
</div>
{% endblock %}
