{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Coming Soon{% endblock %}

{% block body %}
<div class="p-3 mb-3 bg-body-tertiary rounded-3">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Willkommen bei Racing Action!</h1>
        <br>
        <div class="fs-4">
            <p>Hier entsteht bald eine große Plattform, auf der ihr Rennveranstaltungen, Trainings jeglicher Art und andere Termine rund ums Motorradrennenfahren (angefangen mit Flat Track und Speedway) finden, speichern und organisieren könnt!</p>
            <p>Bis es soweit ist, könnt ihr euch auf dem Kalender über Renn- und Trainingsveranstaltungen informieren.</p>
            <p>Über mein Instagram Profil werdet ihr informiert, sobald die Webseite für euch eröffnet ist.</p>
            <p>LOVE YOURSELF, DO FLAT TRACK!</p>
            <br>
        </div>
        <a href="https://jojogp215.wixsite.com/my-site-1" class="btn btn-outline-primary btn-lg" type="button">
            <i class="fas fa-calendar-days me-2"></i>Kalender
        </a>
        <a href="https://www.instagram.com/jojogp_215/" class="btn btn-outline-primary btn-lg" type="button">
            <i class="fa-brands fa-instagram me-2"></i>jojogp_215
        </a>
        <a href="https://www.facebook.com/dieeinzigwahrejojo" class="btn btn-outline-primary btn-lg" type="button">
            <i class="fa-brands fa-facebook me-2"></i>jojogp_215
        </a>
    </div>
</div>
{% endblock %}
