{% extends 'base.html.twig' %}

{% block title %}Racing Action{% endblock %}

{% block body %}
<div class="p-3 mb-3 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Willkommen bei Racing Action!</h1>
        <p class="col-md-8 fs-4">
            Hier entsteht bald eine große Platrtform, auf der ihr Rennveranstaltungen, Trainings jeglicher Art und andere Termine rund ums Motorradrennenfahren (angefangen mit Flat Track und Speedway) finden, speichern und organisieren könnt!
            Bis es soweit ist, könnt ihr euch auf der Seite https://jojogp215.wixsite.com/my-site-1 über Renn- und Trainingsveranstaltungen informieren.
            Auf meinem Instagram Profil werdet ihr informiert, sobald die Webseite für euch eröffnet ist.</p>
        <button class="btn btn-outline-primary btn-lg" type="button">Example button</button>
    </div>
</div>
<div>  </div>




→ instagrambutton jojogp_215

LOVE YOURSELF, DO FLAT TRACK!
{% endblock %}
