{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('app/demo/events/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_events_index') }}">back to list</a>

    {{ include('app/demo/events/_delete_form.html.twig') }}
{% endblock %}
