{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('app/demo/events/_form.html.twig') }}

    <a href="{{ path('app_events_index') }}">back to list</a>
{% endblock %}
