{% extends 'public/base.html.twig' %}

{% block title %}{{ parent() }} | About{% endblock %}

{% block body %}
    <div class="container">
        Auf dieser Seite findest du "About".
    </div>
{% endblock %}