{% extends 'public/base.html.twig' %}

{% block title %}{{ parent() }} | Coming Soon{% endblock %}

{% block body %}
    {# TODO: Kalender einbauen :D #}

    <div class="container">
        <div class="border rounded p-3 shadow">
            <div class="mb-3">Zwischengespeicherte Seiten (MaintenanceController)</div>
            <a href="{{ path('work_coming-soon') }}" class="btn btn-outline-secondary" target="_blank" >Coming Soon</a>
            <a href="{{ path('work_maintenance') }}" class="btn btn-outline-secondary" target="_blank">Maintenance</a>
        </div>
    </div>
{% endblock %}