/* _variables.scss */
@import './_colors.scss'; // Farben
@import './_focus.scss'; // Fokus

$header_height: 70px;
$footer_height: 70px;
$backdrop_filter: blur(10px);

$text_color-dark: #e6ffff;
$text_color-light: $dark;
$background_color-dark: #001a1a;
$background_color-light: #001a1a;