#header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header_height;
    width:100vw;
}

#header .nav-link {
    transition: background .2s ease-in-out;
}

[data-bs-theme="dark"] {
    #header {
        background: $transparent-dark-005;
    }
    
    #header .nav-link:hover {
        background: $transparent-dark-005;
    }
}

[data-bs-theme="light"] {
    #header {
        background: $transparent-light-005;
    }
    
    #header .nav-link:hover {
        background: $transparent-light-005;
    }
}