#sidebar {
    position: fixed;
    left: 0;
    top: $header_height;
    height: calc(100vh - $header_height);
    width: $sidebar_width;
}

#sidebar .nav-link {
    transition: background .2s ease-in-out;
}

[data-bs-theme="dark"] {
    #sidebar {
        background: $transparent-dark-005;
    }
    
    #sidebar .nav-link:hover {
        background: $transparent-dark-005;
    }
}

[data-bs-theme="light"] {
    #sidebar {
        background: $transparent-light-005;
    }
    
    #sidebar .nav-link:hover {
        background: $transparent-light-005;
    }
}