{% extends 'base.html.twig' %}

    {% block body %}

        {# 
            Vorschlag zur "Entity-Beschreibung"

            Tabelle mit Spalten:            
            Name    Type    Relation (optional)

            Name (Field Name): Name der Eigenschaft (Property)
            Type (Field Type): Typ der Eigenschaft (zB. 'string', 'text', 'bool') -> symfony console make:entity
            Relation (Zugehörigkeit): Wie ist diese Entity, mit einer anderen Verknüpft

                Beispiele:
                -Name-            -Type-        -Relation-    
                Teilnehmer        relation      User->id      (Ein Event hat    viele   Teilnehmer)
                Organisator       relation      User->id      (Ein Event hat    einen   Organisator)
                FacebookUrl       string        /             /
                InstagramUrl      string        /             /
        #}

        <p>Krowdrace</p> {# event.??? #}
        <p>Rennserie</p> {# event.??? #}
        <p>Google Adresse</p> {# event.mapsUrl #}
        <p>Datum Uhrzeit Start</p> {# event.begin (?) #}
        <p>Datum Uhrzeit Ende</p> {# event.end (?) #}
        <p>Datum Uhrzeit Anfahrt</p> {# event.beginRace (?) #}
        <p>Datum Uhrzeit Abfahrt</p> {# event.endRace (?) #}
        <p>Klasseneinteilung</p> {# event.??? #}
        <p>Hinweise/Besonderheiten</p> {# event.notes #}
        <p>link webseite</p> {# event.website #}
        <p>link Instagram</p> {# event.instagram #}
        <p>link Facebook</p> {# event.facebook #}

        {# 
          <a> href=" {{event.facebook}}"
            <h4><i class="fa-brands fa-facebook me-2"></i></h4>
          </a>
        #}

    {% endblock %}

{% block modal %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Anmelden
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Vorname
            Nachname
            Nationalität
            Lizenznummer
            Klasse 1
            Startnummer 1
            Motorrad 1 (Hersteller, Typ, ccm)
            Klasse 2
            Startnummer 2
            Motorrad 2 (Hersteller, Typ, ccm)

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
