{% extends 'base.html.twig' %}

    {% block body %}
        <p>Krowdrace</p>
        <p>Rennserie</p>
        <p>Google Adresse</p>
        <p>Datum Uhrzeit Start</p>
        <p>Datum Uhrzeit Ende</p>
        <p>Datum Uhrzeit Anfahrt</p>
        <p>Datum Uhrzeit Abfahrt</p>
        <p>Klasseneinteilung</p>
        <p>Hinweise/Besonderheiten</p>
        <p>link webseite</p>
        <p>link Instagram</p>
        <p>link Facebook</p>
        <p>button Anmeldung</p>
    {% enblock %}