{% extends 'base.html.twig' %}

    {% block body %}
        <p>Krowdrace</p>
        <p>Rennserie</p>
        <p>Google Adresse</p>
        <p>Datum Uhrzeit Start</p>
        <p>Datum Uhrzeit Ende</p>
        <p>Datum Uhrzeit Anfahrt</p>
        <p>Datum Uhrzeit Abfahrt</p>
        <p>Klasseneinteilung</p>
        <p>Hinweise/Besonderheiten</p>
        <p>link webseite</p>
        <p>link Instagram</p>
        <p>link Facebook</p>
        <p>button Anmeldung</p>
    {% endblock %}

{% block modal %}<!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Anmelden
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Vorname
            Nachname
            Nationalität
            Lizenznummer
            Klasse 1
            Startnummer 1
            Motorrad 1 (Hersteller, Typ, ccm)
            Klasse 2
            Startnummer 2
            Motorrad 2 (Hersteller, Typ, ccm)
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>{% endblock %}