{% extends 'base.html.twig' %}

{% block title %}Racing Action - Demoversion{% endblock %}

    {% block body %}
    <div>
        <h2 > Racing Action wann und wo? </h2>
        <br>
        <h5> Check den Kalender aus und finde deine Lieblingsevents in deiner Nähe!</h5>
        <p> Speichere dir ausgewählte Events mit einem einfachen Klick in deinem eigenen Kalender ab!</p>
    
    </div>

    <div id="calendar" class="" {{ stimulus_controller('calendar') }}></div>
    {% endblock %}
