{% extends 'base.html.twig' %}

{% block title %}Racing Action - Demoversion{% endblock %}

    {% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    
    <div class="example-wrapper">
        <h1>Willkommen bei der Racing Action - Demoversion!</h1>
        <br>
        <br>
        Danke, dass du die App testest und mir so dabei hilfst, eine Vollversion für alle Flatties zu entwickeln! 
        Ich freue mich schon auf dein Feedback.
        <ul>
            <br>
            <li>Klicke auf meine Events. Dort wirst du auf deine gespeicherten Events geleitet. In diesem Falle zum Krowdrace in Wolfslake</li>
        </ul>
    </div>
    {% endblock %}
    

