#content {
    margin-top: $header_height;
    z-index:0;
    padding-bottom: calc($footer_height + 1rem) !important;
}

[data-bs-theme="dark"] {
    #content {
        color: $text_color-dark;
    }
}

[data-bs-theme="light"] {
    #content {
        color: $text_color-light;
    }
}