#header {
    position: fixed;
    width: 100vw;
    height: $header_height;
    top: 0;
    left: 0;
    backdrop-filter: $backdrop_filter;
    -webkit-backdrop-filter: $backdrop_filter;
    z-index:1;
}

[data-bs-theme="dark"] {
    #header {
        background: $transparent-dark-005;
        color: $text_color-dark;
    }
}

[data-bs-theme="light"] {
    #header {
        background: $transparent-light-005;
        color: $text_color-light;
    }
}