#offcanvas .nav-link {
    transition: all .2s ease-in-out;
}

[data-bs-theme="dark"] {
    #offcanvas .nav-link:hover {
        background: $transparent-light-005;
        color: $text_color-dark;
    }

    #offcanvas-header {
        background: $background_color-dark;
        color: #b3ffff;
    }

    #offcanvas-body {
        background: $transparent-dark-005;
        color: $text_color-dark;
    }
}

[data-bs-theme="light"] {
    #offcanvas .nav-link:hover {
        background: $transparent-light-005;
    }

    #offcanvas-header {
        background: $background_color-light;
        color: #b3ffff;
    }

    #offcanvas-body {
        background: $transparent-light-005;
        color: $text_color-light;
    }
}