<div class="d-flex flex-column p-3 bg-body-tertiery">
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="#" class="nav-link active" aria-current="page">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#home"></use>
				</svg>
				Mein Profil
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-body-emphasis">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#speedometer2"></use>
				</svg>
				Meine Events
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-body-emphasis">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#table"></use>
				</svg>
				Meine Veranstalter
			</a>
		</li>
		<li>
			<a href="#" class="nav-link link-body-emphasis">
				<svg class="bi pe-none me-2" width="16" height="16">
					<use xlink:href="#grid"></use>
				</svg>
				Einstellungen
			</a>
		</li>
	</ul>
</div>
